<div class = "ingredient-input-page">
  <app-multi-image-upload
  (multiImagesUploaded)="handleMultiImagesUploaded($event)"
  ></app-multi-image-upload>
  <app-notification-bar
  [message]="notificationMessage"
  [type]="notificationType"
  ></app-notification-bar>

  <div class="temp-ingredients-list">
    <div *ngFor="let partialIngredient of formalIngredients" >
      <app-ingredient-card
        [partialIngredient]="partialIngredient"
        [mode]="'multi-add'"
      ></app-ingredient-card>
    </div>
  </div>
