/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: mat.$orange-palette,
      typography: (
        plain-family: Inter,
        brand-family: Pacifico,
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );
}
/* src/styles.scss */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  color: #444;
}

strong {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #333;
  font-size: 17px;
  margin: 0 3px;
}

h1 {
  font-family: "Pacifico", cursive;
  color: #000444;
  font-size: 40px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-family: "Satisfy", cursive;
  font-weight: 700;
  font-size: 28px;
  color: #333;
}

@media (max-width: 800px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-family: "Satisfy", cursive;
  font-weight: 700;
  font-size: 24px;
  color: rgb(9, 9, 101);
}

@media (max-width: 800px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-size: 22px;
}

@media (max-width: 800px) {
  h4 {
    font-size: 18px;
  }
}
