<div class="frist-login-container">
  <h1 style="margin: 10px 40px;">First Login</h1>
<h2>Welcome to the Smart Fridge Web App!</h2>

<div class="form-container">
<p class="form-message">
  <span>Please create or join a fridge to start managing your ingredients and recipes.</span><br />
  <span>You won't be able to use the app without a fridge.</span><br />
   <span>If you already have a fridge, you will create or join a new fridge!</span>
</p>
<app-new-fridge-form (submitForm)="onSubmitForm()"></app-new-fridge-form>
</div>
</div>

