<!-- ingredient-card.component.html -->
<div class="ingredient-card">
<img
  *ngIf="ingredient.image_url; else defaultImage"
  class="ingredient-img"
  [src]="'http://localhost:3000' + ingredient.image_url"
  alt="{{ ingredient.name }}"
/>
<ng-template #defaultImage>
  <img
    class="ingredient-img"
    src="assets/default-ingredient.png"
    alt="{{ ingredient.name }}"
  />
</ng-template>
  <div class="ingredient-info">
    <h3>{{ ingredient.name }}</h3>
    <p>{{ ingredient.quantity }} {{ ingredient.unit }}</p>
    <p>Expire Date: {{ ingredient.expire_date }}</p>
    <p *ngIf="ingredient.type">Type: {{ ingredient.type }}</p>
    <p [class.expired]="ingredient.is_expired">
      {{ ingredient.is_expired ? "Expired" : "Fresh" }}
    </p>
  </div>
  <div class="ingredient-actions">
    <button type="button" (click)="onUpdateIngredient()">Edit</button>
    <button type="button" (click)="onDeleteIngredient()">Delete</button>
  </div>
</div>
