<!-- ingredient-card.component.html -->
<div class="ingredient-card">
  <p *ngIf="mode === 'multi-add'" class="multi-add-label">
    Temporay Ingredient Result -- Extracted from Image, please review before
    adding to fridge.
  </p>
  <img
    *ngIf="mode === 'view' && ingredient.image_url; else defaultImage"
    class="ingredient-img"
    [src]="ingredient.image_url"
    (error)="onImageError($event)"
    alt="{{ ingredient.name }}"
  />
  <img
    *ngIf="
      mode === 'multi-add' && partialIngredient && partialIngredient.image_url
    "
    class="ingredient-img"
    [src]="partialIngredient.image_url"
    (error)="onImageError($event)"
    alt="{{ partialIngredient.name }}"
  />
  <ng-template #defaultImage>
    <img
      *ngIf="mode === 'view'"
      class="ingredient-img"
      src="assets/default-ingredient.png"
      alt="{{ ingredientDisplay.name }}"
    />
  </ng-template>
  <div [ngClass]="['ingredient-info', mode]">
    <h3>{{ ingredientDisplay.name }}</h3>
    <p>{{ ingredientDisplay.quantity }} {{ ingredientDisplay.unit }}</p>
    <p *ngIf="mode === 'view'">
      Expire Date: {{ ingredientDisplay.expire_date }}
    </p>
    <p *ngIf="mode === 'multi-add'">
      Default Expire Date: {{ ingredientDisplay.expire_date }}
    </p>
    <p *ngIf="ingredientDisplay.type">Type: {{ ingredientDisplay.type }}</p>
    <p *ngIf="mode === 'view'" [class.expired]="ingredientDisplay.is_expired">
      {{ ingredientDisplay.is_expired ? "Expired" : "Fresh" }}
    </p>
  </div>
  <div class="ingredient-actions">
    <button mat-flat-button type="button" (click)="onUpdateIngredient()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-raised-button type="button" style="color: brown; " (click)="onDeleteIngredient()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
  <button
    mat-stroked-button
    type="button"
    *ngIf="mode === 'multi-add'"
    (click)="addIngredientImage.emit()"
  >
    <mat-icon>add</mat-icon>
    Add an image to the ingredient
  </button>
</div>
