<!-- ingredient-form.component.html -->
<form
  [formGroup]="ingredientForm"
  class="ingredient-form"
  id="ingredient-form"
  (ngSubmit)="postIngredient()"
  [ngClass]="mode + '-form'"
>
  <!-- title -->
  <div class="ingredient-form-title" *ngIf="mode !== 'image'">
    {{
      mode === "edit"
        ? "Edit Ingredient"
        : "Add a new ingredient into your fridge"
    }}
  </div>
  <div class="ingredient-form-title" *ngIf="mode === 'image'">
    Add an image for the ingredient
  </div>

  <!-- form fields -->
  <div class="form-field" *ngIf="mode !== 'image'">
    <input formControlName="name" placeholder="Ingredient name" />
    <input formControlName="quantity" type="number" placeholder="Quantity" />
    <input formControlName="unit" placeholder="Unit (e.g. g/ml/pcs)" />
    <input formControlName="expire_date" type="date" />
    <input formControlName="type" placeholder="Type (optional)" />
  </div>
  <!--image url will change to file upload in the futuer -->
  <div class="image-container" *ngIf="mode === 'add' || mode === 'image'">
  <label>Upload Image</label>
  <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden #fileInput>
  <button mat-stroked-button color="primary" (click)="fileInput.click()">Choose File</button>
  <span *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</span>
  <img
      class="image-preview"
      *ngIf="imagePreviewUrl"
      [src]="imagePreviewUrl"
      alt="Preview"
    />
  </div>
  <!-- submit button -->
  <button
    mat-flat-button
    type="submit"
    *ngIf="mode !== 'image'"
    [disabled]="ingredientForm.invalid"
  >
    <mat-icon>{{ mode === "edit" ? "save" : "add" }}</mat-icon>
    {{ mode === "edit" ? "Save Changes" : "Add Ingredient" }}
  </button>
  <!-- submit button for image mode -->
  <button
    mat-flat-button
    type="button"
    *ngIf="mode === 'image'"
    (click)="submitImageFile()"
  >
    <mat-icon>image</mat-icon>
    Upload Image
  </button>
  <!-- cancel button -->
  <button
    mat-raised-button
    type="button"
    *ngIf="mode === 'edit'"
    (click)="cancelEdit.emit()"
  >
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
</form>
