.main-container {
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  background-color: #fcfced;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.logout-btn {
  margin-right: 20px;
  width: 150px;
  height: 48px;
  border-radius: 8px;
}

.main-row {
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 16px;
}

.info-col {
  padding: 10px;
  border-radius: 8px;
  background-color: #f1f8ff;
}

.fridge-col {
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
}

.main-fridge-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
