<app-header></app-header>

<div class="main-container">
  <button class="btn" (click)="fetchUserInfo()">
    Get current User information
  </button>
  <div *ngIf="showUserInfo">
    <div *ngIf="currentUser$ | async as user; else noUser">
      <p><strong>User Name:</strong> {{ user.name }}</p>
      <p>User Fridges:</p>
      <ul>
        <li *ngFor="let fridge of user.fridges">
          {{ fridge.name }} (ID: {{ fridge.id }})
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noUser>
    <p>No user information available. Please log in.</p>
  </ng-template>

  <li *ngIf="fridgesList$ | async as fridges; else noFridgeList">
    <h3>Fridge List:</h3>
    <ul>
      <li *ngFor="let fridge of fridges">
        <p><strong>Fridge Name:</strong> {{ fridge.name }}</p>
        <p><strong>Description:</strong> {{ fridge.description }}</p>
        <p>Fridge Id: {{ fridge.id }}</p>
        <p>Fridge Users:</p>
        <ul>
          <li *ngFor="let user of fridge.users">{{ user.name }}</li>
        </ul>
      </li>
    </ul>
  </li>
  <button class="btn" (click)="switchFridgeList()">
    Click to switch Fridge
  </button>
  <div *ngIf="showFridgeSelector">
    <app-fridge-selector></app-fridge-selector>
  </div>

  <ng-template #noFridgeList>
    <p>No fridges available.</p>
  </ng-template>

  <button class="btn" (click)="fetchFridgeInfo()">
    Get current fridge information
  </button>
  <div *ngIf="showFridgeInfo">
    <div *ngIf="currentFridge$ | async as fridge; else noFridge">
      <p><strong>Fridge Name:</strong> {{ fridge.name }}</p>
      <p><strong>description:</strong> {{ fridge.description }}</p>
      <p>Fridge Id: {{ fridge.id }}</p>
      <p>Fridge Users:</p>
      <ul>
        <li *ngFor="let user of fridge.users">{{ user.name }}</li>
      </ul>
    </div>
  </div>
  <ng-template #noFridge>
    <p>you can get your fridge information here!</p>
  </ng-template>

  <button class="btn" (click)="addNewFridge()">Create or Join a Fridge</button>
  <div *ngIf="showNewFridgeForm">
    <app-new-fridge-form
      (submitForm)="onSubmitNewFridgeForm()"
    ></app-new-fridge-form>
  </div>

  <button class="btn" (click)="onLogout()">Logout</button>
  <app-recipe-page></app-recipe-page>
  <app-ingredient-input-page></app-ingredient-input-page>
  <router-outlet></router-outlet>
</div>
