<div class="addi-feature-page">

  <div class="addi-feature-nav-bar">
    <mat-tab-group  [preserveContent]="true">
      <mat-tab label="🍳 Generate Recipe">
          <app-recipe-page></app-recipe-page>
      </mat-tab>

      <mat-tab label="🏷️ Ingredient Input">
          <app-ingredient-input-page
            (showTempIngredientsOverlay)="handleShowTempIngredientsBtn()"
          ></app-ingredient-input-page>

          <button *ngIf="showTempIngredientsBtn" mat-flat-button (click)="onShowTempIngredientsOverlay()">
            Show Temporary Ingredients
          </button>
      </mat-tab>

      <mat-tab label="🔄 Switch Fridge">
          <app-fridge-selector></app-fridge-selector>
      </mat-tab>

      <mat-tab label="➕ Create/Join Fridge">
          <app-new-fridge-form (submitForm)="onSubmitNewFridgeForm()"></app-new-fridge-form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

