.tab-subpage {
  padding: 0 20px 10px 20px;
  background-color: #f8faf7;
  border: solid 1px #2c8949;
  margin-top: 7px;
  border-radius: 6px;
}

.custom-tab-label {
  font-size: 17px;
  font-weight: 500;
}
