<div class="addi-feature-page">
<div class = "addi-feature-nav-bar">
<button class="btn" (click)="switchRecipePage()">
  Generate Recipe
</button>


<button class="btn" (click)="switchIngredientInputPage()">
  Show Ingredient Input
</button>

  <button class="btn" (click)="switchFridgeList()">
    Click to switch Fridge
  </button>

  <button class="btn" (click)="addNewFridge()">Create or Join a Fridge</button>

</div>

<div class="addi-feature-content">
  <div [hidden]="mode !== 'ingredientInputPage'">
  <app-ingredient-input-page
    (showTempIngredientsOverlay)="handleShowTempIngredientsBtn()"
  ></app-ingredient-input-page>
  <button *ngIf="showTempIngredientsBtn" class="btn" (click)="onShowTempIngredientsOverlay()">
    Show Temporary Ingredients
  </button>
</div>
  <div [hidden]="mode !== 'recipePage'">
  <app-recipe-page></app-recipe-page>
</div>
  <div [hidden]="mode !== 'fridgeSelector'">
    <app-fridge-selector></app-fridge-selector>
  </div>

  <div [hidden]="mode !== 'newFridge'">
    <app-new-fridge-form
      (submitForm)="onSubmitNewFridgeForm()"
    ></app-new-fridge-form>
</div>
</div>

