<div class="addi-feature-page">

  <div class="addi-feature-nav-bar">
    <mat-tab-group  [preserveContent]="true">
      <mat-tab label="🍳 Generate Recipe">
         <div class="tab-subpage"> 
          <app-recipe-page></app-recipe-page>
        </div>
      </mat-tab>

      <mat-tab label="🏷️ Batch Input">
        <div class="tab-subpage">  
        <app-ingredient-input-page
            (showTempIngredientsOverlay)="handleShowTempIngredientsBtn()"
          ></app-ingredient-input-page>
          <button *ngIf="showTempIngredientsBtn" mat-flat-button (click)="onShowTempIngredientsOverlay()" style="margin: 10px 0;">
            Show Temporary Ingredients
          </button>
        </div>
      </mat-tab>

      <mat-tab label="🔄 Switch Fridge">
        <div class="tab-subpage">
          <app-fridge-selector></app-fridge-selector>
        </div>
      </mat-tab>

      <mat-tab label="➕ Create/Join Fridge">
        <div class="tab-subpage">
          <app-new-fridge-form (submitForm)="onSubmitNewFridgeForm()"></app-new-fridge-form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

