.app-header {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 8px;
  border-bottom: 5px double #6d020274;
  background-color: #f7ddc73e;
  font-family: Pacifico, sans-serif;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.right-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.slogan {
  font-size: 1.5em;
  color: #0e358f;
}

.logo {
  width: 90px;
  height: 90px;
}

.app-container {
  display: flex;
  flex-direction: column;
  //height: 100vh;
  overflow-x: hidden;     
}
