// generate simple scss for class="ingredient-list-page" and class="ingredient-list"
@use  '@angular/material' as mat;

.ingredient-list-page {
  margin-top: 10px;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  max-height: 1500px;
  overflow-y: auto;
  gap: 10px;
  margin: 0 auto;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 7px 5px;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.add-ingredient-form{
  width: 80%;
  margin: 0 auto;
  text-align: start;
}

.edit-ingredient-form {
  width: 70%;
  margin-right: auto;
  margin-left: 40px;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
  gap: 8px;
  font-size: 16px;
  color: #6c757d;
}

.no-fridge-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #6a0707;
  gap: 10px;
}