<div *ngIf="currentFridge; else noFridge">
  <div class="ingredient-list-page">
    <div class="button-wrapper">
      <button mat-fab extended class="add-ingredient-button" (click)="toggleAddForm()">
        <mat-icon>{{ showAddForm ? 'cancel' : 'add' }}</mat-icon>
        {{ showAddForm ? 'Cancel' : 'Add a Single Ingredient' }}
      </button>
      
      <button mat-fab extended (click)="refreshIngredients()">
        <mat-icon>refresh</mat-icon>
        Click to Refresh the Fridge
      </button>
    </div>
    <div class ="add-ingredient-form"  *ngIf="showAddForm">
    <app-ingredient-form class="add-ingredient-form"
      [mode]="'add'"
      (addIngredient)="handleNewIngredient($event)"
    ></app-ingredient-form>
    </div>

    <div
      class="ingredient-list"
      #scrollableDiv
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="150"
      [infiniteScrollContainer]="scrollableDiv"
      (scrolled)="onScrollDown()"
    >
      <div *ngFor="let ing of ingredients; trackBy: trackById">
        <app-ingredient-card
          [ingredient]="ing"
          (editRequest)="toggleEditForm(ing)"
          (deleteIngredient)="handleDeleteIngredient($event)"
        ></app-ingredient-card>
        <!-- Show the edit form if the ingredient is being edited -->
        <!-- This checks if the current ingredient's id matches the editingIngredient's id -->
        <div class="edit-ingredient-form" *ngIf="editingIngredient && editingIngredient?.id === ing.id">
          <app-ingredient-form
            [mode]="'edit'"
            [ingredientToEdit]="editingIngredient"
            (submitIngredient)="handleUpdateIngredient($event)"
            (cancelEdit)="cancelEdit()"
          ></app-ingredient-form>
        </div>
      </div>

      <div *ngIf="loading" class="loading-indicator">
        loading more ingredients...
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </div>
      <div *ngIf="!hasMoreData && !loading" class="no-more-data">
       {{ingredients.length === 0 ? 'There is no ingredients in your fridge. Add some ingredients!' : 'No more ingredients to load.'}}
      </div>
      <button class="scroll-to-top" (click)="scrollToTop()">↑ Top</button>
    </div>
  </div>
</div>

<ng-template #noFridge>
  <div class="no-fridge-message">
    <p>Waiting for fridge or there is no fridge!</p>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
</ng-template>
