<p>multi-image-upload works!</p>
<div class="multi-image-upload">
  <h2>Upload Multiple Images</h2>
  <form>
    <label for="fileInput">Select images:</label>
    <input
      type="file"
      (change)="onFilesSelected($event)"
      accept="image/*"
      multiple
      #fileInput
    />
  </form>
  <div class="image-previews-list" *ngFor="let image of imagePreviews; let i = index">
    <div class="image-container">
      <img
        [src]="image"
        alt="Image Preview"
        class="image-preview"
    />
    <button (click)="removeImage(i)">Remove</button>
  </div>
    </div>
  <button (click)="clearAllImages()">Clear All</button>
  <button (click)="uploadImages()">Upload Images</button>
</div>
