.btn {
  border: solid 1px #000000;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 5px;
  width: 500px;
  background-color: #f0f0f0;
  height: 60px;
    font-size: 24px;
    font-weight: bold;
}