 <div class = "info-notification-container">
    <header>User Information and Notifications</header>

   <button mat-fab extended (click)="fetchUserInfo()">
     <mat-icon>{{ showUserInfo ? 'hide_source' : 'more_horiz' }}</mat-icon>
     {{ showUserInfo ? 'Hide' : 'Show' }} User Information
   </button>

  <div *ngIf="showUserInfo">
    <div *ngIf="currentUser; else noUser">
      <p><strong>User Name:</strong> {{ currentUser.name }}</p>
      <p>User Fridges:</p>
      <ul>
        <li *ngFor="let fridge of currentUser.fridges">
          {{ fridge.name }} (ID: {{ fridge.id }})
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noUser>
    <p>No user information available. Please log in.</p>
  </ng-template>
  <app-notification-info-center></app-notification-info-center>

</div>