<mat-accordion class="recipe-card" multi>

  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Recipe Card </mat-panel-title>
      <mat-panel-description> View details of your generated recipe </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="recipe-message"  *ngIf="message">
      <mat-icon *ngIf="generateFinish" style="font-size: 32px;">check</mat-icon>
      <mat-spinner mode="indeterminate" diameter="28" *ngIf="!generateFinish"></mat-spinner>
      <p>{{ message }}</p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="recipe" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> 🍳 Recipe: {{ recipe.title }} </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="recipe-info">
      <h4>🧂 Ingredients</h4>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>

      <h4>👨‍🍳 Steps</h4>
      <ol>
        <li *ngFor="let step of recipe.steps">{{ step }}</li>
      </ol>
    </div>
  </mat-expansion-panel>
</mat-accordion>