// simpe generate class=recipe-info

.recipe-info {
  background-color:  rgb(250, 244, 236);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-message {
  background-color: rgb(218, 233, 246);
  color: rgb(33, 93, 188);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
